In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot  as plt

In [2]:
runs= pd.read_csv("odi-batting.csv")
runs.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [22]:
runs_gte_100 = runs[runs.Runs >=100]

In [4]:
runs_gte_100.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
62,Afghanistan,Noor Ali Zadran,114,16-02-2010,Tue,Sharjah CA Stadium,Canada,127
87,Afghanistan,Karim Sadiq,114,16-08-2010,Mon,Cambusdoon New Ground,Scotland,108

In [9]:
def function(x):

In [23]:
x= runs_gte_100.pivot_table( index = 'Player',values=['Runs','Balls'], aggfunc = 'sum')

In [32]:
x['RR'] = round(x.Runs /x.Balls * 100,0)

In [37]:
x.sort_values(by='RR',ascending=False)

                       Balls  Runs     RR
Player
Mark V Boucher            68   147  216.0
Basit Ali                 79   127  161.0
Shahid Afridi            408   654  160.0
John M Davison            76   111  146.0
Umar Akmal                72   102  142.0
Jacob D P Oram            72   101  140.0
Bradley J Hodge           89   123  138.0
Yusuf K Pathan           166   228  137.0
Kevin J O'Brien          188   255  136.0
David J Hussey            83   111  134.0
Xavier M Marshall        118   157  133.0
Ricardo L Powell          93   124  133.0
Sanjay V Manjrekar        82   105  128.0
Kapil Dev                138   175  127.0
Darren J Reekers          82   104  127.0
Charles K Coventry       156   194  124.0
Jesse D Ryder            173   212  123.0
Paul R Stirling          408   500  123.0
Michael E K Hussey       265   322  122.0
Abraham B de Villiers   1033  1246  121.0
Marlon N Samuels         174   208  120.0
Clive H Lloyd             85   102  120.0
Jamie M How              116   139  120.0
Alok Kapali               96   115  120.0
Virender Sehwag         1424  1703  120.0
Shaun M Pollock          110   130  118.0
Jean-Paul Duminy         204   240  118.0
David J Callaghan        143   169  118.0
Ijaz Ahmed              1030  1203  117.0
Sunil M Gavaskar          88   103  117.0
...                      ...   ...    ...
Michael A Atherton       309   240   78.0
Asanka P Gurusinha       289   225   78.0
Charles W J Athey        324   253   78.0
Sherwin L Campbell       267   208   78.0
Gary C Wilson            147   113   77.0
Alec J Stewart           547   420   77.0
Woorkeri V Raman         148   114   77.0
David C Boon             694   535   77.0
Gavin M Hamilton         302   234   77.0
Imran Khan               133   102   77.0
Manoj M Prabhakar        275   208   76.0
Roshan S Mahanama        576   435   76.0
Brian C Broad            140   106   76.0
Michael J R Rindel       139   106   76.0
Timothy D Paine          148   111   75.0
Simon M Katich           142   107   75.0
Edmund C Joyce           142   107   75.0
Bruce M Laird            159   117   74.0
Imrul Kayes              138   101   73.0
David Lloyd              159   116   73.0
Mark A Taylor            144   105   73.0
Runako S Morton          305   219   72.0
Bruce A Edgar            141   102   72.0
Ravishankar J Shastri    579   414   72.0
Graeme M Wood            457   326   71.0
Mohinder Amarnath        287   202   70.0
Stuart C Williams        149   105   70.0
Douglas A Marillier      147   100   68.0
David L Hemp             152   102   67.0
Tom L W Cooper           155   101   65.0

[280 rows x 3 columns]

In [39]:
runs_gte_100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1161 entries, 0 to 49237
Data columns (total 8 columns):
Country      1161 non-null object
Player       1161 non-null object
Runs         1161 non-null int64
MatchDate    1161 non-null object
Weekday      1161 non-null object
Ground       1161 non-null object
Versus       1161 non-null object
Balls        1161 non-null int64
dtypes: int64(2), object(6)
memory usage: 81.6+ KB

In [52]:
def getCenturyColumn(x):
    return 1 if x>= 100 else 0

In [55]:
runs['is_centurary'] = runs.Runs.apply(lambda x: getCenturyColumn(x))

In [57]:
runs['year'] = runs.MatchDate.apply(lambda x: x[-4:])

In [72]:
runs[(runs.Country =="India") & (runs['is_centurary']==1)].pivot_table(index='year',aggfunc="sum")

      Balls  Runs  is_centurary
year
1983    138   175             1
1984    407   309             3
1986    224   204             2
1987    406   440             4
1988    571   523             5
1989    217   209             2
1990    372   313             3
1991    231   214             2
1992    148   114             1
1993    309   234             2
1994    915   758             7
1995    107   112             1
1996   1017   913             8
1997    816   771             7
1998   2192  2135            18
1999   2003  1998            15
2000   1389  1252            10
2001   1042  1047             9
2002   1007  1062             9
2003   1206  1130            10
2004    835   831             7
2005   1330  1307            11
2006    532   556             5
2007    488   575             5
2008   1007  1140            10
2009   1486  1749            13
2010   1330  1444            12
2011    823   943             8